.button {
    gap: 10%;
    width: 100%;
    justify-content: center;
}

.menu_full {
    width: 100%;
    height: 60px;
    display: flex;
    border: 3px solid black;
    background-color: rgb(78, 134, 236);
    border-radius: 5px;
}

.menu_full ul {
    list-style-type: none;
    display: flex;
}

.menu_full li {
    margin-top: 0.3%;

}

.menu_full ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

.menu_full ul li a:hover {
    color: rgb(194, 191, 199);
    transform: scale(1.1);
}

.menu1 {
    transition: transform 0.3s ease;
}

.menu1:hover {
    transform: scale(1.1);
}

.menu2 {
    transition: transform 0.3s ease;
}

.menu2:hover {
    transform: scale(1.1);
}

.menu3 {
    transition: transform 0.3s ease;
}

.menu3:hover {
    transform: scale(1.1);
}

.menu4 {
    transition: transform 0.3s ease;
}

.menu4:hover {
    transform: scale(1.1);
}

h1 {
    text-shadow: 3px  5px 6px rgb(255, 255, 255);
    color: #0077ff;
    margin: 8%;
    margin-top: -20%;
    margin-left: 25%;
}

.boat {
    transition: transform 0.3s;
}

.boat:hover {
    transform: scale(1.5) translate(8px, 8px);
}

body {
    background: conic-gradient(from 315deg at 30%  100%, rgba(184,223,214,0.77) 0%, transparent 50%, rgb(187,220,187) 100%) 60% 35%/170% 180%,
                linear-gradient(105deg, rgb(180,216,213) 0%, rgb(180,216,213) 20%, rgb(166,209,176) 50%, rgb(142,204,187) 50%, rgb(166,211,190) 100%);
  }