.logo-text {
    margin-left: 40%;
    font-size: 1.2em;
    line-height: 150%;
}

.waviy span {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-top: 5%;
    display: inline-block;
    font-size: 40px;
    color: #bd1313;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}
  
@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}

.heroespic {
    float: right;
    width: 20%;
    margin: -2% 50px 10px 3%;
}

.text1 {
    font-size: 180%;
} 

p {
    margin-left: 7%;
    margin-right: 20%;
}