.class_full {
    border: 2px dashed black;
    text-align: center;
    margin-left: 24%;
    margin-top: 6%;
    padding: 20px 30px;
    width: 51%;
}

.class {
    list-style-type: none;
    border: 2px solid black;
    background-color: rgb(219, 236, 211);
    padding: 10px 20px;
    transition: color 0.3;

}

.class li {
    margin-top: 0.3%;

}

.class :hover {
    color: rgb(255, 0, 0);
}